.cart-header {
  padding: 25px 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.go-back {
  color: #debb71;
  border-bottom: 1px solid #debb71;
  line-height: 20px;
  text-decoration: none;
  font-size: 13px;
}

.steps-content {
  display: flex;
  padding: 40px 160px;
  justify-content: space-between;
  align-items: center;
}

.steps {
  position: relative;
}

.steps-content:before {
  content: '';
  height: 1px;
  width: 100%;
  background: #e2e2e2;
  left: 0;
  position: absolute;
  bottom: 40px;
}

.step {
  width: 100%;
  text-align: center;
  padding: 0 0 30px;
  position: relative;
}

.step.past,
.step.current {
  color: #debb71;
}

.step.future {
  color: #52555d;
}

.step.past:after {
  content: '';
  border: 1px solid #e2e2e2;
  width: 22px;
  height: 22px;
  background: url('../../images/yellow-tick.png') #fff no-repeat center center;
  border-radius: 50%;
  position: absolute;
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
}

.step.current {
  border-bottom: 1px solid #debb71;
}

.cart-content {
  padding: 0 160px;
  display: flex;
  justify-content: space-between;
}